.gradle
/.idea
/local.properties
.DS_Store
/libraries/HoloGraphLibrary/.idea
/libraries/HoloGraphLibrary/.settings
/libraries/HoloGraphLibrary/.classpath
/libraries/HoloGraphLibrary/.project
/libraries/HoloGraphLibrary/build
*.class
